{erl_opts, [debug_info]}.
{deps,
 [{cowboy, "2.8.0"},
  {jsone, "1.5.2"},
  {ranch, "2.0.0-rc.2"}
 ]}.

{pre_hooks,
  [{"(linux)", compile, "make -C apps/eradio/c_src"}]}.
{post_hooks,
  [{"(linux)", clean, "make -C apps/eradio/c_src clean"}]}.

{shell,
 [{apps, [eradio]},
  {config, "config/sys.config"}]}.
