[{eradio,
 [{listen_ip, {local, "eradio.sock"}},
  {port, 0}
 ]},
 {kernel,
  [{logger_level, debug},
   {logger,
    [{handler, default, logger_std_h,
      #{config => #{type => standard_io},
        formatter =>
            {logger_formatter,
             #{legacy_header => false,
               single_line => true,
               time_designator => $ ,
               template => [time," ",level," ", pid," ",mfa,":",line," === ",msg,"\n"]}}
       }}
    ]}
  ]}
].
