[{eradio,
 [{port, 8080},
  {sndbuf, 8000} %% 500ms of 128kbps
 ]},
 {kernel,
  [{logger_level, info},
   {logger,
    [{handler, default, logger_std_h,
      #{config => #{type => standard_io},
        formatter =>
            {logger_formatter,
             #{legacy_header => false,
               single_line => true,
               time_designator => $ ,
               template => [time," ",level," ", pid," ",mfa,":",line," === ",msg,"\n"]}}
       }},
     {handler, disk_log, logger_disk_log_h,
      #{config => #{file => "./log/eradio.log"},
        formatter =>
            {logger_formatter,
             #{legacy_header => false,
               single_line => true,
               time_designator => $ ,
               template => [time," ",level," ", pid," ",mfa,":",line," === ",msg,"\n"]}}
       }}
    ]}
  ]}
].
